body {
    background-color: pink;
}
.estilo{
    h1{
     color : aqua;
    text-align: center;
    } 
p{
 color: blue; font-size: 30px; text-align: justify;
}
ul{
    word-spacing: 20px;
}
img{
 border-bottom-left-radius: 30px;
 border-bottom-right-radius: 30px;
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
}
table{
  border-style: solid;
}

a:hover{
    color: chartreuse;
}
}
button{
    background-color: gold;
    color:darkblue;
}
div{
    color:red;
}


